In [74]:
import numpy as np
import pandas as pd
import requests
import time
from scipy.stats import linregress
from pprint import pprint
import json
from census import Census
from config import (census_key, gkey)
import gmaps

# Census API Key
c = Census(census_key)

In [75]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("B01003_001E", "B17001_002E", "B02001_002E", "B02001_003E", "B02001_004E", "B02001_005E", "B02001_006E", "B02001_008E", "B03001_003E"
                         ), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B17001_002E": "Poverty Count",
                                      "B02001_002E": "Caucasian",
                                      "B02001_003E": "African American",
                                      "B02001_004E": "American Indian",
                                      "B02001_005E": "Asian",
                                      "B02001_006E": "Native Hawaiian",
                                      "B02001_008E": "Two or more races",
                                      "B03001_003E": "Hispanic",
                                      "zip code tabulation area": "Zipcode"})

In [76]:
census_pd.sample(5)

,Population,Poverty Count,Caucasian,African American,American Indian,Asian,Native Hawaiian,Two or more races,Hispanic,state,Zipcode
15840,12631.0,935.0,11978.0,218.0,70.0,85.0,0.0,204.0,573.0,26,48173
29560,2411.0,1253.0,17.0,4.0,2322.0,5.0,0.0,63.0,33.0,35,87328
13406,2157.0,565.0,2157.0,0.0,0.0,0.0,0.0,0.0,0.0,21,41553
12423,2667.0,290.0,2088.0,458.0,0.0,14.0,0.0,107.0,0.0,47,38356
1122,1034.0,161.0,997.0,0.0,26.0,3.0,0.0,8.0,61.0,23,04292

In [77]:
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"]/ census_pd["Population"]

In [78]:
census_pd.sample(5)

,Population,Poverty Count,Caucasian,African American,American Indian,Asian,Native Hawaiian,Two or more races,Hispanic,state,Zipcode,Poverty Rate
16907,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19,50319,NaN
345,4870.0,121.0,4384.0,358.0,0.0,28.0,6.0,44.0,133.0,25,01612,2.484600
29357,4447.0,519.0,3715.0,40.0,391.0,0.0,0.0,199.0,1763.0,04,85936,11.670789
21342,15121.0,5423.0,5306.0,9206.0,44.0,273.0,0.0,243.0,77.0,17,62206,35.864030
14419,21043.0,1749.0,20517.0,26.0,0.0,63.0,0.0,409.0,246.0,39,44654,8.311553

In [79]:
census_pd.columns = census_pd.columns.str.replace(' ', '_').str.lower()
census_pd.tail(5)

,population,poverty_count,caucasian,african_american,american_indian,asian,native_hawaiian,two_or_more_races,hispanic,state,zipcode,poverty_rate
33115,15.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,02,99923,0.000000
33116,927.0,172.0,446.0,3.0,366.0,0.0,7.0,105.0,26.0,02,99925,18.554477
33117,1635.0,235.0,239.0,0.0,1210.0,22.0,0.0,147.0,116.0,02,99926,14.373089
33118,38.0,28.0,38.0,0.0,0.0,0.0,0.0,0.0,0.0,02,99927,73.684211
33119,2484.0,192.0,1670.0,2.0,496.0,69.0,9.0,208.0,121.0,02,99929,7.729469

### CSV uploaded

In [5]:
value_df = pd.read_csv("Payment_and_Value_of_Care-Hospital.csv", low_memory=False)
value_df

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Payment Measure ID,Payment Measure Name,...,Payment,Lower Estimate,Higher Estimate,Payment Footnote,Value of Care Display ID,Value of Care Display Name,Value of Care Category,Value of Care Footnote,Start Date,End Date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,PAYM_30_AMI,Payment for heart attack patients,...,"$24,934","$23,490","$26,429",NaN,MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,NaN,07/01/2016,06/30/2019
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,PAYM_30_HF,Payment for heart failure patients,...,"$17,854","$17,061","$18,676",NaN,MORT_PAYM_30_HF,Value of Care Heart Failure measur,Average Mortality and Average Payment,NaN,07/01/2016,06/30/2019
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,PAYM_30_PN,Payment for pneumonia patients,...,"$20,216","$19,186","$21,271",NaN,MORT_PAYM_30_PN,Value of Care Pneumonia measure,Average Mortality and Higher Payment,NaN,07/01/2016,06/30/2019
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,PAYM_90_HIP_KNEE,Payment for hip/knee replacement patients,...,"$22,216","$21,191","$23,313",NaN,COMP_PAYM_90_HIP_KNEE,Value of Care hip/knee replacement,Average Complications and Higher Payment,NaN,04/01/2016,03/31/2019
4,10005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,PAYM_30_AMI,Payment for heart attack patients,...,"$24,742","$22,016","$27,967",NaN,MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,NaN,07/01/2016,06/30/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18835,670136,BAYLOR SCOTT & WHITE MEDICAL CENTER- AUSTIN,5245 W US 290,AUSTIN,TX,78735,TRAVIS,(512) 654-2100,PAYM_90_HIP_KNEE,Payment for hip/knee replacement patients,...,Not Available,Not Available,Not Available,5.0,COMP_PAYM_90_HIP_KNEE,Value of Care hip/knee replacement,Not Available,5.0,04/01/2016,03/31/2019
18836,670143,ASCENSION SETON BASTROP,"630 HIGWAY 71 W,",BASTROP,TX,78602,BASTROP,(737) 881-7400,PAYM_30_AMI,Payment for heart attack patients,...,Not Available,Not Available,Not Available,19.0,MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Not Available,19.0,07/01/2016,06/30/2019
18837,670143,ASCENSION SETON BASTROP,"630 HIGWAY 71 W,",BASTROP,TX,78602,BASTROP,(737) 881-7400,PAYM_30_HF,Payment for heart failure patients,...,Not Available,Not Available,Not Available,19.0,MORT_PAYM_30_HF,Value of Care Heart Failure measur,Not Available,19.0,07/01/2016,06/30/2019
18838,670143,ASCENSION SETON BASTROP,"630 HIGWAY 71 W,",BASTROP,TX,78602,BASTROP,(737) 881-7400,PAYM_30_PN,Payment for pneumonia patients,...,Not Available,Not Available,Not Available,19.0,MORT_PAYM_30_PN,Value of Care Pneumonia measure,Not Available,19.0,07/01/2016,06/30/2019
18839,670143,ASCENSION SETON BASTROP,"630 HIGWAY 71 W,",BASTROP,TX,78602,BASTROP,(737) 881-7400,PAYM_90_HIP_KNEE,Payment for hip/knee replacement patients,...,Not Available,Not Available,Not Available,19.0,COMP_PAYM_90_HIP_KNEE,Value of Care hip/knee replacement,Not Available,19.0,04/01/2016,03/31/2019

In [6]:
value_df.columns = value_df.columns.str.replace(' ', '_').str.lower()
value_df.head()

,facility_id,facility_name,address,city,state,zip_code,county_name,phone_number,payment_measure_id,payment_measure_name,...,payment,lower_estimate,higher_estimate,payment_footnote,value_of_care_display_id,value_of_care_display_name,value_of_care_category,value_of_care_footnote,start_date,end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,PAYM_30_AMI,Payment for heart attack patients,...,"$24,934","$23,490","$26,429",NaN,MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,NaN,07/01/2016,06/30/2019
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,PAYM_30_HF,Payment for heart failure patients,...,"$17,854","$17,061","$18,676",NaN,MORT_PAYM_30_HF,Value of Care Heart Failure measur,Average Mortality and Average Payment,NaN,07/01/2016,06/30/2019
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,PAYM_30_PN,Payment for pneumonia patients,...,"$20,216","$19,186","$21,271",NaN,MORT_PAYM_30_PN,Value of Care Pneumonia measure,Average Mortality and Higher Payment,NaN,07/01/2016,06/30/2019
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,PAYM_90_HIP_KNEE,Payment for hip/knee replacement patients,...,"$22,216","$21,191","$23,313",NaN,COMP_PAYM_90_HIP_KNEE,Value of Care hip/knee replacement,Average Complications and Higher Payment,NaN,04/01/2016,03/31/2019
4,10005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,PAYM_30_AMI,Payment for heart attack patients,...,"$24,742","$22,016","$27,967",NaN,MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,NaN,07/01/2016,06/30/2019

In [7]:
for column in value_df.columns:
    print(column)

facility_id
facility_name
address
city
state
zip_code
county_name
phone_number
payment_measure_id
payment_measure_name
payment_category
denominator
payment
lower_estimate
higher_estimate
payment_footnote
value_of_care_display_id
value_of_care_display_name
value_of_care_category
value_of_care_footnote
start_date
end_date

In [8]:
updated_df=value_df.drop(['county_name', 'phone_number', 'payment_footnote', 'value_of_care_footnote'], axis=1).reset_index(drop=True)
updated_df

,facility_id,facility_name,address,city,state,zip_code,payment_measure_id,payment_measure_name,payment_category,denominator,payment,lower_estimate,higher_estimate,value_of_care_display_id,value_of_care_display_name,value_of_care_category,start_date,end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,PAYM_30_AMI,Payment for heart attack patients,No Different Than the National Average Payment,574,"$24,934","$23,490","$26,429",MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,07/01/2016,06/30/2019
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,PAYM_30_HF,Payment for heart failure patients,No Different Than the National Average Payment,823,"$17,854","$17,061","$18,676",MORT_PAYM_30_HF,Value of Care Heart Failure measur,Average Mortality and Average Payment,07/01/2016,06/30/2019
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,PAYM_30_PN,Payment for pneumonia patients,Greater Than the National Average Payment,536,"$20,216","$19,186","$21,271",MORT_PAYM_30_PN,Value of Care Pneumonia measure,Average Mortality and Higher Payment,07/01/2016,06/30/2019
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,PAYM_90_HIP_KNEE,Payment for hip/knee replacement patients,Greater Than the National Average Payment,245,"$22,216","$21,191","$23,313",COMP_PAYM_90_HIP_KNEE,Value of Care hip/knee replacement,Average Complications and Higher Payment,04/01/2016,03/31/2019
4,10005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,PAYM_30_AMI,Payment for heart attack patients,No Different Than the National Average Payment,71,"$24,742","$22,016","$27,967",MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,07/01/2016,06/30/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18835,670136,BAYLOR SCOTT & WHITE MEDICAL CENTER- AUSTIN,5245 W US 290,AUSTIN,TX,78735,PAYM_90_HIP_KNEE,Payment for hip/knee replacement patients,Not Available,Not Available,Not Available,Not Available,Not Available,COMP_PAYM_90_HIP_KNEE,Value of Care hip/knee replacement,Not Available,04/01/2016,03/31/2019
18836,670143,ASCENSION SETON BASTROP,"630 HIGWAY 71 W,",BASTROP,TX,78602,PAYM_30_AMI,Payment for heart attack patients,Not Available,Not Available,Not Available,Not Available,Not Available,MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Not Available,07/01/2016,06/30/2019
18837,670143,ASCENSION SETON BASTROP,"630 HIGWAY 71 W,",BASTROP,TX,78602,PAYM_30_HF,Payment for heart failure patients,Not Available,Not Available,Not Available,Not Available,Not Available,MORT_PAYM_30_HF,Value of Care Heart Failure measur,Not Available,07/01/2016,06/30/2019
18838,670143,ASCENSION SETON BASTROP,"630 HIGWAY 71 W,",BASTROP,TX,78602,PAYM_30_PN,Payment for pneumonia patients,Not Available,Not Available,Not Available,Not Available,Not Available,MORT_PAYM_30_PN,Value of Care Pneumonia measure,Not Available,07/01/2016,06/30/2019
18839,670143,ASCENSION SETON BASTROP,"630 HIGWAY 71 W,",BASTROP,TX,78602,PAYM_90_HIP_KNEE,Payment for hip/knee replacement patients,Not Available,Not Available,Not Available,Not Available,Not Available,COMP_PAYM_90_HIP_KNEE,Value of Care hip/knee replacement,Not Available,04/01/2016,03/31/2019

In [9]:
no_nans_df = updated_df[updated_df.payment != 'Not Available']
no_nans_df

,facility_id,facility_name,address,city,state,zip_code,payment_measure_id,payment_measure_name,payment_category,denominator,payment,lower_estimate,higher_estimate,value_of_care_display_id,value_of_care_display_name,value_of_care_category,start_date,end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,PAYM_30_AMI,Payment for heart attack patients,No Different Than the National Average Payment,574,"$24,934","$23,490","$26,429",MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,07/01/2016,06/30/2019
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,PAYM_30_HF,Payment for heart failure patients,No Different Than the National Average Payment,823,"$17,854","$17,061","$18,676",MORT_PAYM_30_HF,Value of Care Heart Failure measur,Average Mortality and Average Payment,07/01/2016,06/30/2019
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,PAYM_30_PN,Payment for pneumonia patients,Greater Than the National Average Payment,536,"$20,216","$19,186","$21,271",MORT_PAYM_30_PN,Value of Care Pneumonia measure,Average Mortality and Higher Payment,07/01/2016,06/30/2019
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,PAYM_90_HIP_KNEE,Payment for hip/knee replacement patients,Greater Than the National Average Payment,245,"$22,216","$21,191","$23,313",COMP_PAYM_90_HIP_KNEE,Value of Care hip/knee replacement,Average Complications and Higher Payment,04/01/2016,03/31/2019
4,10005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,PAYM_30_AMI,Payment for heart attack patients,No Different Than the National Average Payment,71,"$24,742","$22,016","$27,967",MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,07/01/2016,06/30/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18786,670120,THE HOSPITALS OF PROVIDENCE TRANSMOUNTAIN CAMPUS,2000 TRANSMOUNTAIN RD,EL PASO,TX,79911,PAYM_30_PN,Payment for pneumonia patients,No Different Than the National Average Payment,143,"$20,221","$18,213","$22,129",MORT_PAYM_30_PN,Value of Care Pneumonia measure,Average Mortality and Average Payment,07/01/2016,06/30/2019
18792,670122,HOUSTON METHODIST THE WOODLANDS HOSPITAL,17201 INTERSTATE 45 SOUTH,THE WOODLANDS,TX,77385,PAYM_30_AMI,Payment for heart attack patients,No Different Than the National Average Payment,53,"$27,138","$23,811","$30,881",MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,07/01/2016,06/30/2019
18793,670122,HOUSTON METHODIST THE WOODLANDS HOSPITAL,17201 INTERSTATE 45 SOUTH,THE WOODLANDS,TX,77385,PAYM_30_HF,Payment for heart failure patients,Greater Than the National Average Payment,155,"$21,647","$19,686","$23,716",MORT_PAYM_30_HF,Value of Care Heart Failure measur,Average Mortality and Higher Payment,07/01/2016,06/30/2019
18794,670122,HOUSTON METHODIST THE WOODLANDS HOSPITAL,17201 INTERSTATE 45 SOUTH,THE WOODLANDS,TX,77385,PAYM_30_PN,Payment for pneumonia patients,No Different Than the National Average Payment,205,"$19,409","$17,835","$21,020",MORT_PAYM_30_PN,Value of Care Pneumonia measure,Better Mortality and Average Payment,07/01/2016,06/30/2019
18795,670122,HOUSTON METHODIST THE WOODLANDS HOSPITAL,17201 INTERSTATE 45 SOUTH,THE WOODLANDS,TX,77385,PAYM_90_HIP_KNEE,Payment for hip/knee replacement patients,No Different Than the National Average Payment,206,"$21,519","$20,474","$22,618",COMP_PAYM_90_HIP_KNEE,Value of Care hip/knee replacement,Average Complications and Average Payment,04/01/2016,03/31/2019

In [10]:
no_nans_df.state.value_counts()

CA    912
TX    891
FL    625
IL    533
PA    500
NY    488
OH    483
MI    375
IN    338
NC    333
GA    333
WI    329
MO    295
VA    271
IA    259
TN    258
KY    248
KS    244
LA    241
OK    239
NJ    237
WA    230
AL    226
MA    214
MN    208
AZ    203
CO    200
MS    198
AR    189
SC    170
OR    170
MD    167
NE    165
WV    121
UT    110
ME    108
CT     99
NV     98
NM     93
MT     88
ID     88
NH     87
SD     82
ND     62
PR     59
WY     57
VT     46
HI     43
AK     36
RI     35
DE     24
DC     21
VI      6
GU      3
MP      3
Name: state, dtype: int64

In [11]:
no_nans_df.payment_measure_id.unique()

array(['PAYM_30_AMI', 'PAYM_30_HF', 'PAYM_30_PN', 'PAYM_90_HIP_KNEE'],
      dtype=object)

In [12]:
no_nans_df.payment_measure_name.unique()

array(['Payment for heart attack patients',
       'Payment for heart failure patients',
       'Payment for pneumonia patients',
       'Payment for hip/knee replacement patients'], dtype=object)

In [13]:
no_nans_df.payment_category.unique()

array(['No Different Than the National Average Payment',
       'Greater Than the National Average Payment',
       'Less Than the National Average Payment'], dtype=object)

In [21]:
zipcodes=no_nans_df.zip_code.unique()

In [14]:
no_nans_df['payment'].apply(type).value_counts()

<class 'str'>    12141
Name: payment, dtype: int64

In [15]:
# no_nans_df['payment'] = no_nans_df['payment'].replace({'\$': '', ',': ''}, regex=True).astype(float)
# no_nans_df.lower_estimate = no_nans_df.lower_estimate.replace({'\$': '', ',': ''}, regex=True).astype(float)
# no_nans_df.higher_estimate = no_nans_df.higher_estimate.replace({'\$': '', ',': ''}, regex=True).astype(float)
# no_nans_df.denominator = no_nans_df.higher_estimate.replace({'\$': '', ',': ''}, regex=True).astype(float)

In [17]:
cols = ['denominator', 'payment', 'lower_estimate', 'higher_estimate']
no_nans_df[cols] = no_nans_df[cols].applymap(lambda x: x.replace('$', '').replace(',', '')).astype(float)
no_nans_df.sample(5)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,facility_id,facility_name,address,city,state,zip_code,payment_measure_id,payment_measure_name,payment_category,denominator,payment,lower_estimate,higher_estimate,value_of_care_display_id,value_of_care_display_name,value_of_care_category,start_date,end_date
15849,450271,WISE REGIONAL HEALTH SYSTEM,609 MEDICAL CENTER DRIVE,DECATUR,TX,76234,PAYM_30_HF,Payment for heart failure patients,No Different Than the National Average Payment,187.0,19067.0,17509.0,20804.0,MORT_PAYM_30_HF,Value of Care Heart Failure measur,Average Mortality and Average Payment,07/01/2016,06/30/2019
1838,50523,SUTTER DELTA MEDICAL CENTER,3901 LONE TREE WAY,ANTIOCH,CA,94509,PAYM_30_PN,Payment for pneumonia patients,No Different Than the National Average Payment,314.0,18246.0,17050.0,19472.0,MORT_PAYM_30_PN,Value of Care Pneumonia measure,Average Mortality and Average Payment,07/01/2016,06/30/2019
16104,450647,MEDICAL CITY DALLAS HOSPITAL,7777 FOREST LANE,DALLAS,TX,75230,PAYM_30_AMI,Payment for heart attack patients,No Different Than the National Average Payment,149.0,27167.0,24578.0,29927.0,MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,07/01/2016,06/30/2019
3877,110121,GRADY GENERAL HOSPITAL,"1155 5TH STREET, SE",CAIRO,GA,39828,PAYM_30_HF,Payment for heart failure patients,No Different Than the National Average Payment,47.0,15750.0,13769.0,17910.0,MORT_PAYM_30_HF,Value of Care Heart Failure measur,Average Mortality and Average Payment,07/01/2016,06/30/2019
3190,100126,PALMS OF PASADENA HOSPITAL,1501 PASADENA AVE S,SAINT PETERSBURG,FL,33707,PAYM_30_PN,Payment for pneumonia patients,No Different Than the National Average Payment,264.0,19576.0,18147.0,20926.0,MORT_PAYM_30_PN,Value of Care Pneumonia measure,Average Mortality and Average Payment,07/01/2016,06/30/2019

In [19]:
no_nans_df.payment.mean()

20004.158718392224

In [20]:
no_nans_df.groupby('state').mean()

,facility_id,zip_code,denominator,payment,lower_estimate,higher_estimate
state,,,,,,
AK,20301.944444,99641.388889,165.638889,17643.861111,16018.027778,19399.416667
AL,10092.584071,35911.827434,262.663717,19343.256637,17702.420354,21097.486726
AR,40382.756614,72294.619048,249.132275,19722.380952,17993.312169,21553.873016
AZ,30167.349754,85512.906404,321.802956,20006.866995,18478.364532,21628.655172
CA,50387.296053,93204.076754,280.947368,20693.654605,19013.044956,22503.525219
CO,60306.215000,80673.815000,204.370000,19606.700000,17802.495000,21547.790000
CT,70019.343434,6415.717172,458.414141,20828.343434,19459.828283,22283.030303
DC,90005.380952,20026.142857,346.047619,21129.523810,19570.619048,22822.142857
DE,80005.000000,19886.333333,675.291667,20432.791667,19208.125000,21737.916667
FL,100176.604800,33331.956800,391.315200,21130.830400,19618.859200,22753.944000
GA,110188.516517,30910.027027,276.555556,19587.045045,17969.276276,21320.633634
GU,650001.000000,96913.000000,111.666667,14595.000000,13121.333333,16180.666667
HI,120011.441860,96772.581395,189.697674,18727.860465,17122.744186,20487.976744
IA,160770.073359,51350.204633,184.637066,19111.868726,17205.799228,21128.575290
ID,130669.886364,83518.534091,190.954545,19053.170455,17283.261364,20943.613636
IL,140359.161351,61276.923077,309.146341,20186.523452,18561.711069,21927.872420
IN,150315.508876,46783.281065,274.073964,20024.547337,18378.257396,21791.369822
KS,170631.163934,67014.020492,190.389344,19932.073770,17932.725410,22043.704918
KY,180265.637097,41345.532258,263.524194,19671.596774,17954.366935,21525.866935
LA,190235.261411,70743.398340,210.066390,20047.120332,18225.390041,22003.402490
MA,220116.560748,1927.247664,489.485981,21004.327103,19590.023364,22523.443925
MD,210030.491018,21169.185629,413.682635,20519.916168,19108.011976,22026.131737
ME,200561.611111,4476.009259,189.351852,19666.731481,17832.638889,21667.685185
MI,230308.704000,48838.936000,331.256000,19436.789333,17947.498667,21031.450667
MN,240405.562500,55748.471154,162.735577,18743.293269,16873.086538,20730.754808
MO,260327.301695,64199.945763,282.220339,19700.267797,18077.505085,21424.979661
MP,660001.000000,96950.000000,37.000000,15399.666667,13269.666667,17748.000000
MS,250328.358586,39184.747475,229.404040,20120.176768,18226.252525,22133.459596
MT,270667.306818,59531.590909,173.204545,18363.738636,16538.306818,20302.125000
NC,340235.360360,28090.360360,377.252252,19183.753754,17773.519520,20691.429429
ND,350799.596774,58397.806452,190.709677,18823.209677,16885.774194,20846.580645
NE,280761.418182,68626.018182,179.442424,19938.096970,17932.896970,22067.090909
NH,300549.862069,3489.885057,274.724138,19505.839080,17915.942529,21229.241379
NJ,310051.362869,7913.675105,479.540084,22274.244726,20775.864979,23876.751055
NM,320239.516129,87717.827957,180.387097,18560.946237,16842.580645,20396.559140
NV,290289.683673,89246.102041,252.102041,21012.887755,19262.275510,22895.010204
NY,330213.424180,12357.891393,372.731557,20191.141393,18637.661885,21862.012295
OH,360284.426501,44410.327122,276.318841,20230.498965,18630.674948,21942.252588
OK,370291.364017,73884.251046,231.376569,19527.368201,17712.292887,21459.112971
OR,380437.688235,97388.764706,195.594118,18224.429412,16580.376471,19983.905882
PA,390208.814000,17388.740000,298.602000,20337.934000,18743.448000,22054.438000
PR,400064.661017,796.000000,59.593220,18072.389831,15734.101695,20590.847458
RI,410008.257143,2890.085714,308.171429,20392.914286,18805.257143,22107.857143
SC,420078.194118,29496.564706,363.070588,19849.476471,18401.458824,21399.058824
SD,430649.463415,57353.170732,184.902439,19039.426829,16989.292683,21206.475610
TN,440144.290698,37674.189922,335.182171,19467.593023,17934.224806,21109.356589
TX,479087.452301,77172.320988,256.001122,21210.351291,19427.361392,23123.342312
UT,460200.309091,84295.536364,192.609091,19834.409091,18048.345455,21744.809091
VA,490141.808118,23196.107011,403.623616,19745.981550,18340.789668,21253.505535
VI,480001.500000,810.500000,64.666667,17067.833333,14953.833333,19335.500000
VT,470656.565217,5461.956522,213.282609,18601.108696,17026.934783,20284.826087
WA,500360.052174,98561.917391,313.530435,19093.517391,17583.900000,20702.760870
WI,520491.826748,54004.772036,184.349544,18857.933131,17144.082067,20706.191489
WV,510340.586777,25836.115702,232.652893,19602.479339,17884.413223,21442.264463
WY,530626.684211,82548.736842,126.368421,18023.508772,16167.877193,20024.719298