In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [2]:
rds_connection_string = "postgres:pear12@localhost:5432/project2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
#engine.connect()

In [3]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [4]:
Base.classes.keys()

['value', 'readmissions', 'census']

In [14]:
Census=Base.classes.census
Value = Base.classes.value
Readmissions = Base.classes.readmissions
Census

sqlalchemy.ext.automap.census

In [6]:
# Create our session (link) from Python to the DB
session=Session(engine)

In [7]:
inspector = inspect(engine)
inspector.get_table_names()

['value', 'readmissions', 'census']

In [17]:
for table_name in inspector.get_table_names():
    print("")
    print(table_name)
    print("__________")
    for column in inspector.get_columns(table_name):
           print(column['name'], column['type'])

value
__________
id INTEGER
facility_id VARCHAR
facility_name VARCHAR
address VARCHAR
city VARCHAR
state VARCHAR
zip_code VARCHAR
payment_measure_name VARCHAR
payment_category VARCHAR
denominator NUMERIC
payment NUMERIC
value_of_care_display_name VARCHAR
value_of_care_category VARCHAR
outcome VARCHAR
value_code VARCHAR

readmissions
__________
id INTEGER
facility_name VARCHAR
facility_id NUMERIC
measure_name VARCHAR
number_of_discharges NUMERIC
excess_readmission_ratio DOUBLE PRECISION
number_of_readmissions NUMERIC

census
__________
id INTEGER
zip_code VARCHAR
population NUMERIC
poverty_rate DOUBLE PRECISION
median_income NUMERIC

In [23]:
zip_value = session.query(Census.zip_code,Census.median_income).all()
zip_value_df = pd.DataFrame(zip_value)
zip_value_df

      zip_code median_income
0          601         13092
1          602         16358
2          603         16603
3          606         12832
4          610         19309
...        ...           ...
30886    99921         58571
30887    99922         34028
30888    99925         57375
30889    99926         53409
30890    99929         57583

[30891 rows x 2 columns]

In [11]:
median_income=session.query(Census.median_income).order_by(Census.zip_code.desc()).first()
median_income

(Decimal('57583'))